{% extends 'base.html.twig' %}



{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1 class='text-center pt-5'>Bienvenue sur Miam Bonbon !</h1>
        <div class="container d-flex justify-content-center pt-5">

            <img class="bonbonIndex" src="/assets/bonbon3.jpg" alt="">
        </div>
        <p class="lead pt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat eum minus tenetur ullam ducimus dolorum rerum placeat at magni quas sit recusandae eius, aliquam iure, reiciendis totam officia ab inventore pariatur accusantium fugit. Magnam quo quis nemo alias, totam cum suscipit dolorem ex voluptas minus ab sequi dolores minima, mollitia aliquid voluptatibus nobis? Nisi voluptas voluptates eveniet maiores laudantium ex dicta nihil perferendis, ea reprehenderit obcaecati repellat, itaque praesentium? Blanditiis ipsa at nemo eveniet ullam omnis voluptate aut velit? Voluptatibus placeat accusamus impedit quasi ullam at totam repellat nostrum laboriosam, eius minima sequi tempora quibusdam delectus ipsa assumenda corrupti. Quae, facilis? Porro, voluptas? Aliquid quidem ab doloribus pariatur corrupti assumenda, alias temporibus quas distinctio atque omnis libero fugit odit soluta nobis commodi maxime, quibusdam sapiente autem, illum aliquam nam. Saepe magni earum, amet officia minus, facere dignissimos error quisquam deserunt architecto ex quibusdam expedita, omnis a magnam quos illo mollitia! </p>
        <hr class="my-4">
        <p class="text-center">Pour pouvoir acheter des bonbons il faudra vous connecter !</p>
        <div class="container d-flex justify-content-center">
            <a class="btn btn-primary btn-lg" href="#" role="button">Me connecter</a>
        </div>
       

    </div>
</div>
{% endblock %}





